<div class="hero-section">
	<div class="hero-wrap">
		<h1 class="hero-title global-title-huge global-title-offset">{{{t "{start-italic}Hi, I'm Kym." start-italic="<span>" end-italic="</span>"}}}</h1>
		{{#if @site.description}}
		<p class="hero-description global-subtitle-excerpt">I write about alternative living, remote work and animal rescue.</p>
		{{/if}}
		{{>members/hero_button}}
	</div>
</div>