<div class="hero-section">
	<div class="hero-wrap">
		<h1 class="hero-title global-title-huge global-title-offset">{{{t "{start-italic}Hi, I'm Kym." start-italic="<span>" end-italic="</span>"}}}</h1>
		{{#if @site.description}}
		<p class="hero-description global-subtitle-excerpt">I'm passionate about <a class="hero-link" href="{{@site.url}}/travel/">alternative living</a>, <a class="hero-link" href="{{@site.url}}/remote/">remote work</a> and <a class="hero-link" href="{{@site.url}}/cats/">animal rescue</a>.</p>
		{{/if}}
		{{>members/hero_button}}
	</div>
</div>