<div class="hero-section">
	<div class="hero-wrap">
		<h1 class="hero-title global-title-huge global-title-offset">{{{t "Hi, I'm {start-italic}Kym." start-italic="<span>" end-italic="</span>"}}}</h1>
		{{#if @site.description}}
		<p class="hero-description global-subtitle-excerpt">I write about <a class="hero-link" href="{{@site.url}}/growth/">personal growth</a>, <a class="hero-link" href="{{@site.url}}/leadership/">conscious leadership</a> and <a class="hero-link" href="{{@site.url}}/community/">community building</a>. Welcome to my digital realm 🔮</p>
		{{/if}}
		{{>members/hero_button}}
	</div>
</div>
