<div class="hero-section">
	<div class="hero-wrap">
		<h1 class="hero-title global-title-huge global-title-offset">{{{t "{start-italic}Thoughts, stories and ideas{end-italic} by the {site-title} team" start-italic="<span>" end-italic="</span>" site-title=@site.title}}}</h1>
		{{#if @site.description}}
		<p class="hero-description global-subtitle-excerpt">{{@site.description}}</p>
		{{/if}}
		{{>members/hero_button}}
	</div>
</div>