<div class="loop-section">
	{{^is "author, tag"}}
	<div class="loop-subtitle global-title-wrap">
		<h3 class="global-title-large">{{{t "Latest posts" start-italic="<span>" end-italic="</span>"}}}</h3>
	</div>
	{{/is}}
	<div class="loop-wrap">
		{{#foreach posts}}
		{{>item show_tags=true}}
		{{/foreach}}
	</div>
</div>