{{!< default}}
<div class="custom-error custom-wrap">
	<div class="custom-container">
		<div class="custom-content">
			<h1 class="global-title-mega">{{statusCode}}</h1>
			<p class="global-subtitle-excerpt">{{message}}</p>
			<a href="{{@site.url}}" class="global-button">{{t "Back to homepage"}}</a>
		</div>
	</div>
</div>