<a href="{{@site.url}}/signup/" class="membership-card is-free">
	<div class="membership-card-content">
		<h2 class="membership-card-price">{{t "Free"}}</h2>
		<p>{{t "Sign up now to be notified of new content and support {site-title}, help keep this site independent." site-title=@site.title}}</p>
		<div class="membership-card-list">
			<ul>

				{{! Here you can add your feature list }}
				
				<li>Full access to posts for subscribers</li>
				<li>Weekly email newsletter</li>
				
			</ul>
		</div>
	</div>
	<div class="membership-button global-button">{{t "Sign up for free"}}</div>
</a>