<a href="javascript:" class="membership-card is-monthly" data-members-plan="Monthly">
	<div class="membership-card-content">
		<h2 class="membership-card-price">{{#get "tiers"}}<span>/ {{t "month"}}</span></h2>
		<p>{{t "Pay monthly and unlock full access. Cancel anytime."}}</p>
		<div class="membership-card-list">
			<ul>
				
				{{! Here you can add your feature list }}

				<li>Full access to all premium posts</li>
				<li>Weekly email newsletter</li>
				<li>Support independent publishing</li>
				<li>Simple, secure card payment</li>
				
			</ul>
		</div>
	</div>
	<div class="membership-button global-button">{{t "Sign up now"}}</div> 
</a>